<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body style="font-size: 15px;">

      <center>
        <h1 style="color:skyblue; font-size: 30px;">Hospital Information Management System</h1>
        <br><br>
        <h2 style="color: rgb(222, 135, 235); font-size: 25px;">Appointment Report</h2>
        <br><br><br><br>
      </center>
      <b>Admit Date: </b>{{admitDate}}<br>
      <b>Release Date: </b>{{releaseDate}}<br>
      <b>Days Spent: </b>{{days}} days<br>
      <b>Patient Name : </b>{{patientName}}<br>
      <b>Patient Address : </b>{{pat_add}}<br>
      <b>Doctor Name :</b>{{doctorName}}<br>
      <br><br><br>
      <b>Disease and Symptoms :</b><br>
      {{desc}}
      <br><br><br>
      <b>Medicines :</b><br>
      <ul>
        {% for m in med %}
          <li>{{ m.0 }}</li>
        {% endfor %}
      </ul>

      <br><br>
      <!-- QR Code Section -->
      <center>
        <b>Scan the QR Code for Appointment Details:</b><br>
        <img src="{{ qr_url }}" alt="QR Code" style="margin-top: 10px; width: 150px; height: 150px;">
      </center>

    </body>
</html>
